<section class="container" style="max-width: 90% !important;">
<section class="row" id="containe">

<div class="col-xl-6 col-12 col-sm-12 	col-md-12 .col-lg-6" >
  <h1 class=" story"> MY STORY  &nbsp;<fa-icon [icon]="story"></fa-icon></h1>
  <h2 class="tit">My story has 2 parts <br></h2>
  <p class="content">
  Part-1<br>
  Like every 2000's programmer I started my programming journey with C and then moved on to C++ then adapted to other languages like Java and Python. SQL was in my syllabus and I quite loved it. Then I wanted to know how sql interacts with users in a website format.
  <br><br>
  Part-2 <br>
  Started my development journey with the basic Html & Css turned my focus over the various frameworks that are available in the market and started to build Real world projects and gained the skills in website development. Still i used to follow trial and error method so that even if i make an error in future i will tune my mind as "it is not the first error you shit! we have seen many before"
    
</p>  
<br>
  <img  class="imgsk" src="../../assets/skill.png" alt="@nothing mate">
</div>


<div class="col-xl-6 col-12 col-sm-12 	col-md-12 col-lg-6" id="cont">
<h1 class="story2"> MY SKILLS &nbsp;<fa-icon [icon]="skill"></fa-icon></h1>
<ul class="box">
  
    <li>
      <h2>Programming Skills : </h2>
      <h5>C - 90%</h5>
      <span class="bar bar1"></span>
    </li>
    <li>
      <h5>CPP - 80%</h5>
      <span class="bar bar2"></span>
    </li>
    <li>
      <h5>JAVA - 80%</h5>
      <span class="bar bar2"></span>
    </li>
    <li>
    <h5>PYTHON - 60%</h5>
    <span class="bar bar3"></span>
  </li>
  <li>
    <h2>Development Skills :</h2>
    <h5>HTML - 90%</h5>
    <span class="bars bar1"></span>
  </li>
  <li>
    <h5>CSS - 70%</h5>
    <span class="bars bar2"></span>
  </li>
  <li>
    <h5>JAVASCRIPT - 60%</h5>
    <span class="bars bar3"></span>
  </li>




  <li>
    <h2>Framework :</h2>
    <h5>DJANGO - 80%</h5>
    <span class="bare bar1"></span>
  </li>
  <li>
    <h5>FLASK - 85%</h5>
    <span class="bare bar2"></span>
  </li>
  <li>
    <h5>ANGULAR - 70%</h5>
    <span class="bare bar3"></span>
  </li>
  <li>



    <h2>Databases</h2>
    <h5>MYSQL - 95%</h5>
    <span class="barq bar1"></span>
  </li>
  <li>
    <h5>POSTGRESQL - 90%</h5>
    <span class="barq bar2"></span>
  </li>
</ul>

</div>
<hr class="solid">

</section>
</section>