<section class="container">
  <div class="head2" style="margin-top: 5%;">
MY EDUCATIONAL TIMELINE 
</div>
<div class="wrapper">
    <div class="center-line">
      <a (click)="onEdit()"class="scroll-icon" ><fa-icon [icon]="up"></fa-icon></a>
    </div>
    <div class="row row-1">
      <section>
        <fa-icon class="icon" [icon]="school"></fa-icon>
        <div class="details">
          <span class="title">SSLC (STATE BOARD)</span>
          <span class="yr">2016</span>
        </div>
        <p class="inst">MARYANN.MAT.HR.SEC.SCHOOL<br>
          Madurai</p>
        <div class="bottom">
          <i class="percent">-97.6</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <fa-icon class="icon" [icon]="hrscl"></fa-icon>
        <div class="details">
          <span class="title">HIGHER SECONDARY (STATE BOARD)</span>
          <span class="yr">2018</span>
        </div>
        <p class="inst">CEOA.MAT.HR.SEC.SCHOOL <br>
           Madurai
          </p>
        <div class="bottom">
          
          <i class="percent">-96.91</i>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <fa-icon class="icon" [icon]="clg"></fa-icon>
        <div class="details">
          <span class="title">BE - CSE <BR>(UNDER ANNA UNIVERSITY)</span>
          <span class="yr">2022</span>
        </div>
        <p class="inst">THIAGARAJAR COLLEGE OF ENGINEERING <br>
          Madurai</p>
        <div class="bottom">
          <i class="percent">-9.4</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <fa-icon class="icon" [icon]="job"></fa-icon>
        <div class="details">
          <span class="title">SOFTWARE ENGINEER</span>
          <span class='yr'>FEB 2022</span>
        </div>
        <p class="inst">YET TO BE DISCLOSED</p>
        <div class="bottom">
        </div>
      </section>
    </div>
    
  </div>
 <div class="below"style="color: #fff;">
  @ I do hereby confirm that the information given above is true to the best of my knowledge. 
  <hr class="solid">
 </div>
 
 </section>