
<section class="container"  id="home">
    <!--main content-->
    <!--ucar-->
    <section class="row" id="intro" >
        <div class="col-xl-6 col-12 col-sm-12 	col-md-12 col-lg-6">
            <ngb-carousel #carousel [interval]="4000"   >
                <ng-template ngbSlide >
                  <div class="picsum-img-wrapper" >
                    <img  class="imgs"src="../../assets/ucar/1.jpeg" alt="Random first slide" class="imgs">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/ucar/2.jpeg" alt="Random second slide" >
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/ucar/3.jpeg" alt="Random third slide" >
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/ucar/3.jpeg" alt="Random third slide" >
                  </div>
                </ng-template>
              </ngb-carousel>
        </div>
        <div class="col-xl-6 col-lg-6 col-12 col-sm-12 col-md-12 "  id="textcont">
            <h2 style=" text-transform: capitalize !important; ">UcarPricePrediction Application</h2>
            <p class="description">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ucarprice is an application which can be used to predict the price of the used cars and the mileage of the used cars based on the current condition and the values are predicted using the random forest algorithm and which a high accuracy.
            </p>
            <p class="tech"><Strong>TechStack :</Strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Django, PostgreSql, Google Colab, Html, Css, Bootstrap 4, Java Script</p>
            <br><p class="viewlink"><a [attr.href]="ucar" class="view" target="_blank"> View Website</a></p>
        </div>
    </section>
    <!--passsave-->
    <section class="row" id="intro" >
        <div class="col-xl-6 col-12 col-sm-12 	col-md-12 col-lg-6">
            <ngb-carousel #carousel [interval]="4000"   >
                <ng-template ngbSlide >
                  <div class="picsum-img-wrapper" >
                    <img  class="imgs"src="../../assets/passa/1.jpeg" alt="Random first slide" class="imgs">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/passa/2.jpeg" alt="Random second slide" >
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/passa/3.jpeg" alt="Random third slide" >
                  </div>
                </ng-template>
              </ngb-carousel>
        </div>
        <div class="col-xl-6 col-lg-6 col-12 col-sm-12 col-md-12 "  id="textcont">
            <h2 style=" text-transform: capitalize !important; ">Pass Save Application </h2>
            <p class="description">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  An application which can be used to store various passwords and the values are encrypted using the fernet method in python flask and it has its own specific login system and database.
            </p>
            <p class="tech"><Strong>TechStack :</Strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Flask, PostgreSql, Html, Css, Bootstrap 4, Java Script</p>
            <p class="publish"> Not yet published</p>
           
        </div>
    </section>
    <!--plain-->
    <section class="row" id="intro" >
        <div class="col-xl-6 col-12 col-sm-12 	col-md-12 col-lg-6">
            <ngb-carousel #carousel [interval]="4000"   >
                <ng-template ngbSlide >
                  <div class="picsum-img-wrapper" >
                    <img  class="imgs"src="../../assets/plain/1.jpeg" alt="Random first slide" class="imgs">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/plain/2.jpeg" alt="Random second slide" >
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/plain/3.jpeg" alt="Random third slide" >
                  </div>
                </ng-template>
              </ngb-carousel>
        </div>
        <div class="col-xl-6 col-lg-6 col-12 col-sm-12 col-md-12 "  id="textcont">
            <h2 style=" text-transform: capitalize !important; ">Music Band Application </h2>
            <p class="description">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A simple ui focused application which has sliders and a color changing nav bar on scroll event and has was also designed for mobile view too. 
            </p>
            <p class="tech"><Strong>TechStack :</Strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Flask, PostgreSql, Html, Css, Bootstrap 4, Java Script</p>
            <p class="publish"> Not yet published</p>
    
        </div>
        <hr class="solid">
    </section>
        
    
    
    
    
    </section>